

:host.off-color {
    background-color: #223322;
    color: #efd;
}

:host {
    border: solid 1px #223322;
    color: #223322;
    flex: 1;
}

.chess-square {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border: solid 2px transparent;
}

.chess-square.selected {
    border-color: #ff0000;
}